#floating-button {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      /*background: #db4437;*/
      position: fixed;
      bottom: 30px;
      right: 60px;
      cursor: pointer;
      box-shadow: 0px 2px 5px #666;
    }
    
    .plus {
      color: white;
      position: absolute;
      top: 0;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 0;
      margin: 0;
      line-height: 55px;
      font-size: 38px;
      font-family: 'Roboto';
      font-weight: 300;
      background-image: url('insight2.svg');
      background-size: 55px 55px;
      animation: plus-out 0.3s;
      transition: all 0.3s;
    }
    
    #container-floating {
      position: fixed;
      /*background-color: #88EE88;*/
      width: 70px;
      height: 70px;
      bottom: 30px;
      right: 20px;
      z-index: 50px;
    }
    
    #container-floating:hover {
      height: 260px;
      width: 150px;
      padding: 30px;
    }
    
    #container-floating:hover .plus {
      animation: plus-in 0.15s linear;
      animation-fill-mode: forwards;
    }
    
    .edit {
      position: absolute;
      top: 0;
      display: block;
      bottom: 0;
      left: 0;
      display: block;
      right: 0;
      padding: 0;
      opacity: 0;
      margin: auto;
      line-height: 65px;
      transform: rotateZ(-90deg);
      transition: all 0.3s;
      background-size: 55px 55px;
      background-image: url('insight1.png');
      animation: edit-out 0.3s;
    }
    
    #container-floating:hover .edit {
      animation: edit-in 0.2s;
      animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }
    
    @keyframes edit-in {
      from {
        opacity: 0;
        transform: rotateZ(-70deg);
      }
      to {
        opacity: 1;
        transform: rotateZ(0deg);
      }
    }
    
    @keyframes edit-out {
      from {
        opacity: 1;
        transform: rotateZ(0deg);
      }
      to {
        opacity: 0;
        transform: rotateZ(-70deg);
      }
    }
    
    @keyframes plus-in {
      from {
        opacity: 1;
        transform: rotateZ(0deg);
      }
      to {
        opacity: 0;
        transform: rotateZ(180deg);
      }
    }
    
    @keyframes plus-out {
      from {
        opacity: 0;
        transform: rotateZ(180deg);
      }
      to {
        opacity: 1;
        transform: rotateZ(0deg);
      }
    }
    
    .nds {
      background: #DDDDDD;
      right: 20px;
      width: 150px;
      height: 40px;
      border-radius: 10px;
      position: fixed;
      z-index: 300;
      transform: scale(0);
      cursor: pointer;
    }
    
    .nd1 {
      bottom: 100px;
      animation-delay: 0.2s;
      animation: hide-slidedown;
      animation-fill-mode: forwards;
    }
    
    .nd2 {
      bottom: 148px;
      animation-delay: 0.2s;
      animation: hide-slidedown;
      animation: hide-slidedown;
      animation-fill-mode: forwards;
    }
    
    .nd3 {
      bottom: 196px;
      animation-delay: 0.15s;
      animation: hide-slidedown;
      animation-fill-mode: forwards;
    }
    
    .nd4 {
      bottom: 244px;
      animation-delay: 0.1s;
      animation: hide-slidedown;
      animation-fill-mode: forwards;
    }
    
    .nds:hover {
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.16), 0 3px 4px rgba(0, 0, 0, 0.23);
    }
    
    .nds div {
      background-size: 36px 36px;
      background-repeat: no-repeat;
      line-height: 36px;
      height: 36px;
      width: 36px;
      margin: 2px;
      padding-left: 50px;
    }
    
    .setting {
      background-image: url('settings.png');
    }
    
    .other {
      background-image: url('others.png');
    }
    
    .item-button {
      background-image: url('items.png');
    }
    
    .customer {
      background-image: url('customer.png');
    }
    
    #container-floating:hover .nds {
      animation: show-slideup 0.1s linear;
      animation-fill-mode: forwards;
    }
    
    #container-floating:hover .nd1 {
      animation-delay: 0.15s;
    }
    
    #container-floating:hover .nd2 {
      animation-delay: 0.25s;
    }
    
    #container-floating:hover .nd3 {
      animation-delay: 0.35s;
    }
    
    #container-floating:hover .nd4 {
      animation-delay: 0.45s;
    }
    
    #container-floating:hover .nd5 {
      animation-delay: 0.2s;
    }
    
    .letter {
      font-size: 14px;
      font-family: 'Roboto';
      color: black;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0;
      top: 0;
      bottom: 0;
      text-align: center;
      line-height: 40px;
    }
    
    @keyframes show-slideup {
      from {
        opacity: 1;
        transform: translateY(50px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }
    
    @keyframes hide-slidedown {
      from {
        opacity: 1;
        transform: scale(1);
      }
      to {
        opacity: 0;
        transform: scale(0);
      }
    }